body{
    background-color: #faf6fe;
    font-family:"Roboto", sans-serif;
    
}
a {
    color: #885cf4;
}
main{
    padding: 30px 0;
}

.weather-app-city{
    margin: 0px;
    color: #272142;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
}

.weather-app{
   
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow:0 30px 50px rgba(65, 50, 100, 0.08) ;
    border-radius: 16px;
}
.weather-info{
    font-size: 16px;
    line-height: 24px;
    color: rgba(39,33,66,0.4);
}
.weather-info strong{
    color:#e67a99;

}

header{

    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
    padding: 0 0 30px 0;
}
.search-form{
    display: flex;
}

.search-form-input {
    background-color: #faf6fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}
.search-form-button{
    background-color: #885cf4;
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 6px;
    margin-left: 5px;
    
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.temperature-container {
    display: flex;
}
#temp-emoji{
    width: 88px;
    height: 88px;
}
.temp-value {
    font-size: 88px;
    font-weight: bold;
    line-height: 88px;
}
.temp-unit{
    font-size: 28px;
    margin-top: 20px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.weather-forecast-date {
    text-align: center;
    color: rgba(39,33,66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.weather-forecast-icon{
    font-size: 38px;
    text-align: center;
}
.weather-forecast-temp{
    text-align: center;
    font-size: 16px;
    color: #e67a99;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.weather-forecast-toptemp{
    padding: 0 10px;
}

footer {
    border-top: 1px solid rgba(128, 128, 128, 0.315);
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}